<div id="leftMenu" class="col push_four twelve first">

<img id="logo" src="{{configLogo}}" srcset="{{configLogoSrcSet}}" align="" class="swg" width="176" height="58" alt="">
<h1 id="h1title">{{configTitle}}</h1>


	<div id="groups">
<ul>
	{{#groups}}
		<li class="mt"><a href="/#{{id}}">{{name}}</a>
		{{#authenticated}}
			<a href="#" class="newdoc" data-def="{{id}}"><span class="icon-plus r"></span></a>
		{{/authenticated}}
		</li>
		<ul>
		{{#docs}}
			<li class="pl leftMenuSub"><a href="/#{{id}}">{{name}}</a></li>
		{{/docs}}
		</ul>
	{{/groups}}
</ul>
	</div>

	{{#authenticated}}
	<p class="dmt"><a href="#" id="newgroup"><span class="icon-plus"></span> Group</a></p>

	<p class="dmt"><a href="/users"><span class="icon-users"></span> Users</a></p>
	<p class="dmt"><a href="/config"><span class="icon-pencil"></span> Configuration</a></p>
	<p class="dmt"><a href="/logout"><span class="icon-warning"></span> Logout</a></p>
	{{/authenticated}}


	{{^authenticated}}
	<p class="dmt"><a href="/login"><span class="icon-warning"></span> Login</a></p>
	{{/authenticated}}

	&nbsp;
</div>
